@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: #4fbdba;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #4fbdba;
  color: white;
  padding: 0 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.header-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.header-icon {
  font-size: 1.8rem;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: max-content;
  margin: 30px auto 0;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.281);
}
.timer-label {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 20px auto;
}
.timer-label h2 {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
}
.timer-label h2.active {
  background: rgba(0, 0, 0, 0.205);
  font-weight: 600;
}
.timer-counter {
  width: 90%;
}
.timer-counter span {
  font-size: 6.6rem;
  font-weight: 600;
  color: white;
  display: inline-block;
}
.timer-start {
  outline: none;
  border: none;
  background: white;
  padding: 0.7rem 2.5rem;
  margin: 20px auto 30px;
  border-radius: 6px;
  border-bottom: 5px solid rgba(219, 219, 219, 0.836);
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #4fbdba;
  position: relative;
}
.timer-start:active {
  border-bottom: 5px solid rgb(48, 180, 167);
  top: 3px;
}
.task-container {
  margin-top: 30px;
  width: 92%;
  margin: 0 auto;
}
.task-container .lap-pomodoro {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: rgb(250, 250, 250);
  margin: 30px auto;
}
.task-container form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-container .new-task,
.task-container .submit-task {
  padding: 0.8rem;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 4px;
  color: rgb(218, 218, 218);
}
.task-container .new-task {
  background: #e7e7e7;
  border: 1px solid #35ada9;
  color: rgb(0, 0, 0);
}
.task-container .submit-task {
  border: none;
  background: #2daca7;
  font-weight: 600;
}
.task-todo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.task-todo .task-item {
  padding: 0.8rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 3px;
  background: #ffffff;
  border-left: 7px solid #2fa7a3;
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 45px;
}
.check-task {
  position: absolute;
  left: 15px;
}
.delete-task {
  position: absolute;
  right: 15px;
  color: #c4c4c4;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.1rem;
}
